/* Import Tailwind CSS */
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* =========================
    Variabili CSS globali @audit-info
    ========================= */
:root {
    --body: #ffc183;
    --bodyLight: #ffe5ca;
}

/* =========================
    Tema personalizzato (non standard CSS) @audit-info
    ========================= */
@theme default {
    --color-body: var(--body);
    --color-bodylight: var(--bodylight);
    --font-amiri: var(--font-amiri);
    --animate-fadeInLeft: "fade-left 1s backwards";
    --animate-fadeInBottom: "fade-bottom 1s backwards";
}

/* =========================
    Body @info
    ========================= */
body {
    @apply bg-body h-screen dark:bg-orange-950;
}

/* =========================
    Font Titoli @info
    ========================= */
h1,
h2,
h3 {
    font-family: var(--font-amiri);
}

/* =========================
    Layout principale @info
    ========================= */
main {
    @apply  min-h-screen px-2; /* Usa le classi Tailwind */
}

/* =========================
    Animazioni Keyframes @info
    ========================= */
@keyframes fade-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* =========================
    Titoli @info
    ========================= */
h1 {
    @apply text-2xl md:text-4xl;
}
h2 {
    @apply text-2xl md:text-3xl;
}
h3 {
    @apply text-xl md:text-2xl;
}

.h1-header {
    @apply text-4xl font-black tracking-widest capitalize md:text-8xl;
}
/* =========================
    Paragrafi @info
    ========================= */
p {
    @apply text-base md:text-lg;
}

/* =========================
    Sezione dettagli @todo
    ========================= */

.frameSection {
    @apply rounded border-2 border-orange-200 bg-orange-300 p-2 text-black outline-2 outline-orange-400 dark:border-orange-400 dark:bg-orange-800 dark:text-neutral-300 dark:outline-orange-800;
}
a.frameSection,
button.frameSection {
    @apply transition-all duration-300 hover:border-orange-200 hover:bg-orange-400 hover:text-neutral-100 active:border-orange-400 active:outline-orange-200 dark:hover:text-neutral-900;
}
