/* Import Tailwind CSS */
@import "tailwindcss";

/* =========================
    Variabili CSS globali @audit-info
    ========================= */
:root {
    --body: #ffc183;
    --bodyLight: #ffe5ca;
}

/* =========================
    Body @info
    ========================= */
body {
    @apply bg-body h-screen;
}

/* =========================
    Font Titoli @info
    ========================= */
/* h1,
h2,
h3 {
    font-family: "Times New Roman", Times, serif;
} */

/* =========================
    Layout principale @info
    ========================= */
main {
    @apply min-h-screen px-2; /* Usa le classi Tailwind */
}

/* =========================
    Tema personalizzato (non standard CSS) @audit-info
    ========================= */
@theme default {
    --color-body: var(--body);
    --color-bodylight: var(--bodylight);
    --font-roboto: var(--font-roboto);
    --font-zain: var(--font-zain);

    --animate-fadeInLeft: "fade-left 1s backwards";
    --animate-fadeInBottom: "fade-bottom 1s backwards";
}

/* =========================
    Animazioni Keyframes @info
    ========================= */
@keyframes fade-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
h1,
h2,
h3 {
    font-family: var(--font-roboto);
}
/* =========================
    Titoli @info
    ========================= */
h1 {
    @apply text-2xl md:text-4xl;
}
h2 {
    @apply text-2xl md:text-3xl;
}
h3 {
    @apply text-xl md:text-2xl;
}

.h1-header {
    @apply text-4xl font-black tracking-widest capitalize md:text-8xl;
}
/* =========================
    Paragrafi @info
    ========================= */
p {
    @apply text-base md:text-lg;
}

/* =========================
    Sezione dettagli @todo
    ========================= */

.frameSection {
    @apply border-2 border-orange-200 bg-orange-300 outline-2 outline-orange-400;
}
